* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom right, #00aaff, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.weather-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 2px solid #00aaff;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00aaff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0077cc;
}

.weather-info {
    margin-bottom: 20px;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.temperature, .condition, .wind-speed {
    font-size: 18px;
    margin: 10px 0;
}

.switch-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.switch-button:hover {
    background-color: #005599;
}